/* --------------------------------------------- */
/* ▼モバイルファースト (全環境に共通のデザイン) */
/* --------------------------------------------- */

body {
	box-sizing: border-box;
	font-family: "Noto Sans Japanese",sans-serif;
	font-size: 16px;
	font-weight: 200;
	line-height: 1.6;
	color: #fff;
	background: #0c0a26 url(../img/bg.png) center top / calc(260px / 2) fixed;
}

.content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content .title_wrapper{
    color: #eeeeee; 
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.content .title_wrapper .title_text{
    font-size: 25px;
}
.content .title_wrapper .text_button{
    border: 1px #fff solid;
    border-radius: 30px;
    height: 50px;
    width: 300px;
    margin-top: 50px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.groups {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.group {
    display: flex;
    flex-flow: column;
    color: #eeeeee;
    margin: 20px;
}
.group .personaliy{
    color: #eeeeee;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 20px 15px 10px;
}
.group .personaliy .chara_img {
    width: 80vw;
    display: block;
    margin-bottom: 20px;
}
.group .personaliy .name {
    font-size: 16pxm;
}
/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
@media (min-width: 768px) {

}
/* ------------------------------------ */
/* ▼PC用デザインとして付け足すデザイン */
/* ------------------------------------ */
@media (min-width: 1024px) {

    .content .title{
        font-size: 30px;
    }
    .group {
        flex-flow: row;
    }
    .group .personaliy .name {
        font-size: 15px;
    }

    .group .personaliy .chara_img {
        width: 250px;
        margin-bottom: 5px;
    }


}